*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 1366px;
    max-height: 750px;
}
.parent-nav{
    width: 66%;
    max-width: 906px;
    margin: 0 auto;
}
.child-about{
    text-align: right;
}
.child-about h1{
   font-size: 55px;
   font-weight: bold;
   padding-top: 220px;
}
.child-about p{
    font-size: 16px;
    line-height: 20px;
    color: #444343;
    width: 420px;
    margin-left:auto ;
    margin-top: 24px;
}
.child-about .btn{
padding: 20px 19px  24px 25px;
background-color: #F15B22;
width: 160px;
height: 64px;
border-radius: 5px;
border: none;
font-size: 20px;
font-weight: 600;
color: #FFFFFF;
margin: 32px 0 38px 0;
}
.section-parent{
    width: 66%;
    max-width: 906px;
    margin: 0 auto;  
}
.section-child{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
}
.section-child img{
    max-width: 400px;
    margin-top: 128px;
    
}
.child-p {
    margin-top: 300px;
}
.child-p h2 {
        font-size: 30px;
        font-weight: bold;
        
    }
    .child-p .first-p {
        font-size: 13px;
        line-height: 18px;
        color: #444343;
        margin-top: 18px;
        margin-bottom: 10px;
}
.child-p,.last-p{
    font-size: 13px;
    line-height: 18px;
    color: #444343;
}
.child-p i{
    color: #16D887;
    background-color: #FFFFFF;
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

.plan-main-parent h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 110px;
}
.plan-parent{
    width: 66%;
    max-width: 906px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.plan-child{
    text-align: center; 
    margin-top: 50px;
}
.plan-child img{
    width: 70px;
    height: 70px;
    fill: #FFFFFF;
    color: #000000;
}
.plan-child h3{
    font-size: 20px;
    font-weight: bold;
    color: #151414;
    margin-top: 10px;
}
.plan-child p{
    font-size: 20px;
    font-weight: 400px;
    color: #737272;
    margin-top: 10px;
}
.positive-mindset{
    width: 66%;
    max-width: 906px;
    margin: 0 auto;
    margin-top: 90px;
    border-radius: 8px;
    padding: 59px 64px;
    background-image:linear-gradient(to left, rgba(243, 106, 14, 0.068), rgb(231, 77, 16)), url(../images/watch.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 120px;
}
.positive-mindset-child h2{
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.positive-mindset-child button{
    padding: 21px 32px;
    border-radius: 5px;
    border: none;
    color: #F15B22;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.main-footer{
    background-color: #151414;
}
.footer-parent{
    width: 66%;
    max-width: 906px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 331px;
}
.footer-child h2{
    font-size: 35px;
    font-weight: bold;
    color: #F8F8F8;
    margin-top: 118px;
}
.footer-child p{
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 16px;
}
.footer-child address{
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 10px;
}
.footer-child img{
    color: #006AFF;
    margin-top: 32px;
    margin-right: 17px;
    margin-bottom: 140px;
    cursor: pointer;
}
.footer-child h4{
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer-child input{
    font-size: 13px;
    color: #F3F3F3;
    padding: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    background-color: #000000;
    background: transparent;
    margin-bottom: 16px;
}
.footer-child button{
    padding: 15px 20px;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #F15B22;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.footer-child button:hover{
color: #000000;
}